/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-alpha-10: #f7f8fc;
    --global-color-alpha-20: #1c38f2;
    --global-color-alpha-20-transparent: #1c38f2bb;
    --global-color-alpha-30: #0018b3;
    --global-color-alpha-40: #19298e;
    --global-color-alpha-50: #00094d;
    --global-color-alpha-60: #000633;

    /* gradients */
    --global-gradient-alpha: linear-gradient(to right, var(--global-color-alpha-30), var(--global-color-alpha-40));

    /* baseline settings */
    --global-baseline: calc(1rem / 2);
    --global-whitespace: calc(var(--global-baseline) * 2); /* = 16px */
    
    --global-whitespace-xs: calc(var(--global-baseline) * .5); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: var(--global-whitespace); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-whitespace) * 1.5); /* = 24px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 32px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 48px */
}

/* CSS variables here */

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Inter', Helvetica, arial, sans-serif;
    font-weight: 400;
    color: var(--global-color-alpha-10);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-color-alpha-60);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color-alpha-20);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color-alpha-20);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 0 var(--global-whitespace-lg);
}

h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
    padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
    margin-bottom: 0;
}

a {
    color: HotPink;
    transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
    color: HotPink;
}

a:hover,
a:focus {
    color: DeepPink;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    margin: auto;
    max-width: 31.25rem;
    padding: var(--global-whitespace-xl);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    font-family: inherit;
    font-size: 1rem;
    
    border: 2px solid var(--global-color-alpha-30);
    background-color: var(--global-color-alpha-50);
    color: var(--global-color-alpha-10);
    padding: var(--global-whitespace);
    border-radius: 4px;
    
    transition: all 0.2s ease-out;
}

.c-input:hover {
    border-color: var(--global-color-alpha-20);
}

.c-input:focus,
.c-input:active {
    border-color: var(--global-color-alpha-20);
    box-shadow: 0 0 0 2px var(--global-color-alpha-20-transparent);
}

/*
    Component: Custom Select
    ---
    Custom select dropdown
*/


.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__input {
    width: 100%;
}

.c-custom-select__symbol {
    width: calc(var(--global-baseline) * 3);
    height: calc(var(--global-baseline) * 3);
    position: absolute;
    top: calc(var(--global-baseline) * 2);
    right: calc(var(--global-baseline) * 2);
    pointer-events: none;
    fill: var(--global-color-alpha-10);
}

/*
    Component: Location Selector
    ---
    App location dropdown
*/

.c-selector {
    margin-bottom: var(--global-whitespace-xl);
}

/*
    Component: Logo
    ---
    App main logo
*/

.c-logo {
    text-align: center;
}

/*
    Component: Report
    ---
    Traffic report item
*/

.c-report {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    overflow: auto;

    background-image: var(--global-gradient-alpha);
    margin-bottom: var(--global-whitespace-lg);
    padding: var(--global-whitespace-lg);
    border-radius: 12px;
}

.c-report__counter {
    text-align: right;
}

.c-report__visual {
    height: 24px;
    width: 320px; /* = 32px * 10 = 10 icons */
    background-repeat: repeat-x; 
}

/* 
    Component: Visual
    ---
    Class and modifiers to put on a div to visualise the amount of traffic for a specific type
*/

.c-visual {
    transition: all 0.5s;
}

.c-visual--pedestrian {
    height: 24px;
    background: url("../img/svg/pedestrian.svg");   
}

.c-visual--biker {
    height: 24px;
    background: url("../img/svg/bike.svg");
}

.c-visual--car {
    height: 14px;
    background: url("../img/svg/car.svg");
}

.c-visual--truck {
    height: 24px;
    background: url("../img/svg/truck.svg");
}

/* 
    Component: progress bar
    ---
    Class to put on progress bar
*/

.c-app__loading {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.c-progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: calc(var(--global-baseline) * 3);
}

.c-progress::-webkit-progress-bar {
    border-radius: calc(calc(var(--global-baseline) * 3) / 2);
    border: solid 1px var(--global-color-alpha-30);
    background-color: #00094D;
}

.c-progress::-webkit-progress-value {
    border-radius: calc(calc(var(--global-baseline) * 3) / 2);
    background-color: var(--global-color-alpha-30);
    transition: all 0.5s;
}

/*
    Component: App footer
    ---
    Footer with datepicker and < & > arrows
*/

.c-app__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-arrow__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: calc(var(--global-baseline) * 0.75);
}

.c-arrow__button--disabled {
    cursor: default;
}

.c-arrow__icon {
    fill: var(--global-color-alpha-10);
    width: 24px;
    height: 24px;
}

/*
    Component: Datepicker
    ---
    Class for html form datepicker elements
*/

.c-datepicker {
    display: flex;
    justify-content: center;
}

.c-datepicker__input {
    padding: var(--global-baseline) calc(var(--global-baseline) * 2);
    border-radius: 30px;
    width: 7.5rem;
    text-align: center;
}

.c-datepicker__shake {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: display
    ---
    Utiltity classes to change the display property
*/

.u-display-none {
    display: none !important;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: calc(var(--global-baseline) / 2) !important;
}

.u-mb-sm {
    margin-bottom: var(--global-baseline) !important;
}

.u-mb-md {
    margin-bottom: calc(var(--global-baseline) * 2) !important;
}

.u-mb-lg {
    margin-bottom: calc(var(--global-baseline) * 4) !important;
}

.u-mb-xl {
    margin-bottom: calc(var(--global-baseline) * 6) !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
